"*":
  "atom-beautify":
    general:
      _analyticsUserId: "bb55032e-e46e-44e2-a1fa-de8aae6a5052"
  "atom-clock":
    dateFormat: "DD/MM/YYYY, H:mm"
    showClockIcon: true
    showTooltip: true
  "atom-ide-ui":
    use:
      "atom-ide-busy-signal": "default"
      "atom-ide-code-actions": "default"
      "atom-ide-code-format": "default"
      "atom-ide-code-highlight": "default"
      "atom-ide-console": "default"
      "atom-ide-datatip": "default"
      "atom-ide-debugger": "default"
      "atom-ide-definitions": "default"
      "atom-ide-diagnostics": "default"
      "atom-ide-diagnostics-ui": "default"
      "atom-ide-find-references": "default"
      "atom-ide-global": "default"
      "atom-ide-outline-view": "default"
      "atom-ide-signature-help": "default"
      "atom-ide-terminal": "default"
      hyperclick: "default"
  core:
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      ".terraform"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
    titleBar: "custom-inset"
  editor:
    fontSize: 17
    lineHeight: 1.8
  "exception-reporting":
    userId: "d66b145a-2b33-41ec-ae77-b28860852674"
  filesize: {}
  "indentation-indicator":
    indicatorPosition: "right"
  "markdown-preview":
    breakOnSingleNewline: true
    useGitHubStyle: true
  "spell-check":
    addKnownWords: true
    knownWords: [
      "ansible"
    ]
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".robot.text":
  editor:
    tabLength: 4
    tabType: "soft"
